@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400; // Default weight
  font-optical-sizing: auto;
  line-height: 1.5;
}

// Additional styles for different font weights and usage
.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

// Example class for custom use of variable font weights
.inter-custom {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500; // Use an actual numeric value here
  font-style: normal;
}
