<footer>
  <div class="footer-wrap">
    <div class="footer-tagline">
      <p>{{ site.data.settings.footer }}</p>
      <p><strong>This website does not track or gather any personal data.</strong>  <br>
      Any minimal data collection, such as the total number of visits, is handled natively by GitHub Pages and is not under my control. <br>
      If you (dis)liked anything you saw, I'd love your feedback, even just "Visited your website."</p>
    </div>
    <div class="social-media">
      <nav>
        {% for item in site.data.settings.social %}
          <a href="{{ item.link }}" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>
        {% endfor %}
      </nav>
    </div>
  </div>
</footer>
